body,html{
    height: 100vh;
     margin:0;
}
#bg{
    background-image: url(Professor_Portal_Background.jpg); 
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
